@charset "utf-8";
/* CSS Document */

body {
    background: url('../imagem/sq.jpg');
}


/*
+---------------------------------------
-------------------------+
        
Container						
								
	
+---------------------------------------
-------------------------+
*/
.geral {
margin:0 auto; text-align:left; 
width:800px; padding-bottom:10px}


/*
+---------------------------------------
-------------------------+
        
Header							
								
+---------------------------------------
-------------------------+
*/
.topo {
	margin:0px 0 0px 30px; 
	float: left; 
	}

.topo h1 {
    width:500px; 
    font-size:2.5em; 
    padding:1em; 
    text-align:center; 
    float:right; 
    font-weight: bold
}

.topo a{
    color: #f00;
    text-decoration: none;
    font-size: 20pt;
    
}

/*
+---------------------------------------
-------------------------+
        
NAV								
							
+---------------------------------------
-------------------------+
*/

.menu {float: right; margin: 20px 0 0 0;}




/*
+---------------------------------------
-------------------------+
        
Content							
								
+---------------------------------------
-------------------------+
*/
.conteudo {
float:left; 
margin:-10px 0 10px 0; 
padding:10px; 
width:100%; 
background-color:#fff; 
border-radius:3px}

.lateral {
float:left; 
width:200px; 
background-color:yellow; 

}
.central {
float:left; 
width:380px; 
margin:0 10px 0 10px;
}

/*
+---------------------------------------
-------------------------+
        
Footer							
								
+---------------------------------------
-------------------------+
*/
.rodape {clear:both; padding:0em; 
text-align:center;  
        height:10px}
.rodape{color:#777; font-size:75%}


.menuvertical{
	width: 200px;
	padding: 0;
	margin: 0;
	font: 12px verdana, sans-serif;
	float: left;
}

.menuvertical ul{
	list-style: none;
	margin:0;
	padding:0;
}

.menuvertical li{
	margin:0;
	border-bottom: 1px dashed #f00;
}

.menuvertical li a{
	display: block;
	padding: 5px 5px 5px 2px;
	text-decoration: none;
	color: #f00;
	background: yellow;
	border-left: 10px solid #f00;
}

.menuvertical li a:hover{
	color: #fff;
	background: #f00;
	text-indent: 15px;
	border-right: 10px solid blue;
}

iframe{
	border:none;
	overflow:auto;
}







