
#labelcaptcha {
	display: block;
	margin-right: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px !important;
	color: rgb(103, 103, 103);
	text-align: left;
	font-weight: normal;
}

#txtTexto_captcha_serpro_gov_br {
	border: 1px solid rgb(92, 158, 207);
	display: block;
	margin-right: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
