/*CSS Document*/

*{
    margin:0;
    padding:0;
}

body{
    background:#ccc;
    font-family:verdana;
}

.container{
    margin:0 auto;
    width:70%;
}

.content{
    width:100%;
    float:left;
    background:#fff;
    border-radius:10px;
    margin:10px 0 5px 0;
    padding: 40px;
}

.nav{
    width:100%;
    float:left;
    background: cornflowerblue;
    clear:both;
}

.nav .mapadosite, .nav .logo{
    float:left;
    text-align: left;
    font-family: verdana;	
    height:150px;	
    margin:10px 0 10px 20px;
}
.nav .mapadosite{
    border-right:1px solid steelblue;
    width:15%;
}

.nav .logo{
    width:20%;
}

.nav .mapadosite h3{
    color:#fff;
    padding: 0 0 10px 0;
}

.nav .mapadosite a{
    color:#fff;
    text-decoration: none;
    font-size:70%;
}
.nav .mapadosite a:hover{
    color:#ff0;
    font-size:80%;
}

.nav a img{
    width: 15px;
    border: 0;
    vertical-align: middle;
}

input{
    margin:  10px;
}

.nav .logo img{
    width: 15%;
    border: 0;
    padding: 2%;
    margin: 10% 0 0 0;
    
}

.nav .logo{
    float: right;
}

.mostrar{
    float: left;
    width: 44%;

    border: 1px dashed #ddd;
    box-shadow: #555 5px 5px 10px;
    -webkit-box-shadow: 5px 5px 10px #555;
    -moz-box-shadow: 5px 5px 10px #555;
    border-radius: 10px;
    padding: 10px;
    background: #eee;
    margin: 0 10px 10px 0;
    font-size: 9px;
    font-family: verdana;
    
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #555;
    height: 80px;
    text-align: center;
    padding-top: 20px; 
    color: white;
    font-weight: bold;
    font-family: arial;
    font-size: 20pt;
}

.footer{
    background: url('fundo.fw.png') center;
}