@import url(http://fonts.googleapis.com/css?family=Open+Sans);
*{
    margin: 0;
    padding: 0;
}


body{
    font: 90% verdana;
    background: #eee;
}

.starti_texto{
    text-align: center;
    alignment-adjust:auto;
    font-size: 1.05em;
    margin-bottom: 1em;
    color: purple;
    background: #6d00bc;
    border: 0.1em solid #ccc;
    color: white;
    padding: 0.5% 3% 0.5% 3%;

}
div#imagem_user{


    background:url(../imagem/admin-purple-user-icon.png) no-repeat #FFFFFF;
    width: 80%;
    height: 44%;
    margin: auto;
    position: relative;
    color: red;
}


div#criar_conta{

    width: 80%;
    margin: 0 auto;
}
.geral{
      
    width: 80%;
    margin: auto;
}


.content{
    left:33%;  
    width: 30%;
    padding: 2%;
    background: white;
    position: relative;
    border-bottom: 1em solid #ccc;
    border-left: 0.1em solid #ccc;
    border-right:  0.1em solid #ccc;
}


input, select{
    padding: 0.7%;
    margin-top: 0.5%;
}
input[type="text"],input[name="user"],input[type="number"]{
    //width: 30%;
}
select{
    width: 32.5%;
}
input[type="submit"] {
    cursor: pointer;
    width: 100%;
    height: 3em;
    margin: 0 auto;
    text-align: center;
    font-size: 1.05em;
    margin-top: 1em;
    margin-bottom: 1em;
    background: #39c;
    border: 0.1em solid #ccc;
    color: white;
    padding: 0.5% 3% 0.5% 3%;

}
input[type="password"] {
    width: 100%;
    height:45px;
    text-align: center;
    font-size: 1.05em;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 1.5em;
    color: #808080;
    padding-left:10px;
    padding-bottom:5px ; 
    margin-top:5%;

}
input[name="user"] {
    width: 100%;
    height:45px;
    float:left; 
    text-align: center;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 1.5em;
    color: #808080;
    padding-bottom:5px ; 
    padding-left:10px;

}
p,h1,h2,h3,h4{color:#077A10}
div#site{
    background:#eee;
    height: 500px;
    width: 750px;
    top:6.5%;
    left:105%;
    position: absolute;
}
div#topo{
    background:url(../imagem/degradepix.png) repeat-x #FFFFFF;
    height:60px;
    top:0;
    left:0}

div#conteudo{
    background:#ffffff;
    height:500px;
    width:750px;
    margin-top:5px;
    margin-bottom:5px;
    position:relative;}

.conteudo{text-align:center;
          font-size:60px;
          font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
          color:#CCCCCC;
          padding-top:5px
}

div#rodape{
    background:#ffffff;
    height:30px;
    left:50%;
    top: 50%;
    clear:both;

}


.format{
    text-align:center;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400px;
    line-height: 20px;
    color:#808080;
    padding-top:5px;
}
.cabecalho_um{
    text-align:center;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 4em;
    font-style: inherit;
    font-variant: normal;
    font-weight: 400;
    line-height: 1em;
    color:#ffffff;
    padding-top:0px;
}

#theVideo  
{
    display: block;
    margin: auto;
    left: 200px;
    top: 200px;
    //border: 2px solid #eee;
    //border-radius: 20px;
    height: 420px;
    width: 730px;
}   


.criarconta_text{
    text-align:center;
    font-size:22px;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    color:#6d00bc;
    padding-top:5px
}

a{
    text-decoration:none;
    color:#6d00bc;
}


div#login_incorreto {
    position:absolute ;
    margin-left: 5px;
    margin-right: 25px;
    top:32.5%;
    float:left;
    background-color:#39c;
    border-top:10px solid #39c;
    border-left:10px solid transparent;
    background-clip: padding-box;
    padding: 0 10px 10px 10px;
}

div#imagem_user_red{


    background:url(../imagem/admin-red-user-icon.png) no-repeat #ffffff;
    width: 80%;
    height: 44%;
    margin: auto;
    top:10%;
    left:15%;
    position: absolute;
    color: red;
}

.login_incorreto{
    text-align:center;
    font-size:22px;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    color:#ffffff;
    padding-top:5px;

}

.login_incorreto_verifique{
    text-align:center;
    font-size:16px;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    color:#ffffff;
    padding-top:5px;
    padding-bottom: 5px;


}

