html, body {
    height: 100%;
}

.container {
    min-height: 100%;
}

* html .container {
    height: 100%; /* hack para IE6 que trata height como min-height */
}


.rodape {
    position: absolute;
    bottom: 0;
}