html{

   background-color: rgb(95, 88, 88);
    background-size:100% auto; 
}
body{
    background-image: url("../img/new.png");
}

#map_canvas{

height:540px;
width: 100%;
}


#crap {
    border-width: 0;
    position: relative;
    width: 50%;
    margin: 0;


}

#busca {

    height: 42px;
    width: 80px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 42px;
    border-width: 0;
    background-color: #4d90fe;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}