*{
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
html{
	background: url(../img/img1.jpg) fixed no-repeat top center;
	background-size: auto auto;
}
body{
	background-image: url("../img/new.png");
}

img{max-width: 100%;}


/* Imagem logo-estilo */
#img_logo{
	width: 150px;
	height: 150px;
	position: relative;
	left:25%;
	top:13%; 

}

/* DIV login-estilo */

/* DIV Header = Logo e Nome do site */
.header{
	width: 100%; 
	color: white;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
}

/* DIV logo */
.logo{
	width: 200px;
	height: 200px;
	float: left;
}


#nomeindex{
	color: white;
}
.nome{
	width: 85%;
	height: 30%;	
	font-size: 60px;
	padding-top: 4%;
	
}

.menu{
	width: 100%;
	height: 80px;
	background-color: rgba(37, 39, 53, 0.8);
	text-align: center;



}

.nav a{
	color: white;
	text-decoration: none;
	border-radius: 10px 10px 10px 10px; 
	padding: 3px;
	font-family: 'Segoe UI';

}
.nav a:hover{
	color: #4d90fe;
}

.rodape {
	position: fixed;
	width: 100%;
	color: #fff;
	bottom: 0;
	left:0;
	display: block;
	height: 50px;
	background-color: rgba(37, 39, 53, 0.8);
	font-family: 'Segoe UI';
}


p{text-align: center; text-shadow: 0 0 8px #000000;}
#txt_nome{
	font-family: Humanst521 Lt BT;
	font-size: 100px;
	text-shadow: 0 0 8px #000000;
	position: relative;
	left:-0px;
	top:0%;  
	font-size: 150px;

}

#txt_slogan{		
	font-family:Humanst521 Lt BT;
	font-size: 60px;
	text-shadow: 0 0 8px #000000;
	position: relative;
	left:-0px;
	top:-5%;  
}

.txtAboutUs{
	font-family: 'Segoe UI';
	color: white;
	text-align: center;
	padding-top: 6%;
	font-size: 29px; 
}

#txtContato{text-align: center;}
.camposCadastro{
	position: absolute;
	left: 25%;
	top: 50%;
}
.fundoCadastro{
	background-color: white;
}

#btnCadastrar{
	font-size: 15px;
	border-radius: 25px;
	padding: 2px;
	background-color: rgba(0,100,255, 0.2);
	position: absolute; 
	left: 35%;
}

#lbCadastro{
	text-align: center;
}



#search-box {
	left: 25%;
	position: relative;
	width: 50%;
}
#botaobusca{
	font-family: Humanst521 Lt BT;
	font-weight: bold;
	position: absolute;
	right: 0;
	top: 0px;
	height: 42px;
	width: 80px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 42px;
	border-width: 0;
	background-color: rgb(32, 31, 37);
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
	cursor: pointer;

}
#botaobusca:hover{
	font-family: Humanst521 Lt BT;
		font-weight: bold;
	position: absolute;
	right: 0;
	top: 0px;
	height: 42px;
	width: 80px;
	font-size: 17px;
	color: #fff;
	text-align: center;
	line-height: 42px;
	border-width: 0;
	background-color: rgb(32, 31, 37);
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
	cursor: pointer;

}
#search-form {
	height: 40px;
	border: 1px solid #999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	overflow: hidden;
}
#search-text {
	font-size: 14px;
	color: #ddd;
	border-width: 0;
	background: transparent;
}
#search-box input[type="text"] {
	width: 90%;
	padding: 11px 0 12px 1em;
	color: #333;
	outline: none;
	/* top: 10%; */
	/* margin-top: -39px; */
}
#search-buttonsss {
	font-family: arial;
	position: absolute;
	top: 0;
	right: 0;
	height: 42px;
	width: 80px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 42px;
	border-width: 0;
	background-color: #4d90fe;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
	cursor: pointer;
}


//os formulários de cadastro
#formCadastro {
	color: #fff;
}


//formulário do login 
#login{
	color: #fff;
}


#btnlogar{

}

#btn_cad_fisico{
	position: absolute;
	top: 35%;
	left: 35%;
	color: white;
	font-family: 'Segoe UI';
	font-size: 49px;
}
#btn_cad_judiciario{
	position: absolute;
	top: 35%;
	left: 55%;
	color: white;
	font-family: 'Segoe UI';
	font-size: 49px;
}
#btn_cad_usuario{
	position: absolute;
	top: 35%;
	left: 57%;
}

#mapaC {
	z-index: 9999;
	background-color: black;
	margin-top: -31%;
	margin-right: 0%;
	margin-left: 56%;
	height: 350px;
	width: 44%;
}



.metade {
	display: block;
	float: left;
	width: 49.9%;

}

.menuHeader{
	width: 65%;
	float:left;
}

#quadrologin{
	padding-top: 0px;
	font-family: arial;
	
	float: right;    
	height: 76px;
	margin-top: -6px;

}
#quadrologin input {

}
.designlogin{
	padding: 1px 10px;
  
	  
	width: 93px;
  
	  height: 22px;
  color: #bbb;
  text-shadow: 1px 1px 1px black;
  background: rgba(0, 0, 0, 0.16);
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px 4px rgba(121, 121, 121, 0.3), 0 1px rgba(255, 255, 255, 0.06)
;
	margin-right: 42px;
}


.bordas{
	border:1px solid black;
	border-radius: 4px;
}
.menuHeader .nav {
	font-family:arial; 
	font-size: 22px;
	color: white;
	width: 43%
}
}

.bordas{
	border:1px solid black;
	border-radius: 4px;
}
.menuHeader .nav {
	font-family:arial; 
	font-size: 22px;
	color: white;
	width: 43%
}

.nav{
	padding-top:3%;
	float: right;
}


.mensagemCadastros{
	color: yellow;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Segoe UI';

}

.mensagemUsuario{
	 color: yellow;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Segoe UI';
}


.CadastroTabela{
	color: white; 
	font-family: arial;
	font-size: 17px;
	font-weight: bold;
}
.CadastroTabela input, select{
	height: 26px;
	border-radius: 3px;
	border:1px solid #c7c7c7;
	outline:5px solid rgba(0, 0, 0, 0.1);

}


#avaliacao{
	color: #fff;
	padding-top: 1%;
}
.logout{
	text-decoration: none;
	color: #FC0000;
	font-weight: bold;
	font-size: 19px;
}

.bemvindo{
	margin-right: 20px;
}

#btnCadastrese{

	color: #fff;
	font-size: 12px;
	float: right;
	padding-right: 95px;
	padding-top: 1%;



}

.login{
	text-align: center;
	color:#fff;
	font-size: 20px;
	font-weight: bold;
	font-family: arial;
	padding-top: 5%;

}

#frmlogin{
	color:#fff;
	font-size: 14px;

}
#btnlogar{
  position: absolute;
  top: 12px;
  right: 0;
  width: 48px;
  height: 48px;
  padding: 8px;
  border-radius: 26px;
  
  font-family: arial;

  color: rgb(255, 255, 255);
  border-color: rgb(140, 140, 229);
  background-color: rgb(58, 126, 168)
}
form#frmcadlogin {
background-color:rgba(37, 39, 53, 0.8);

	-moz-opacity: 0.45;
	filter: alpha(opacity=45);}



button#btncadastrar{
	font-size: 17px;
	font-family:arial;
	font-weight:bold;
	color:white;

	background:#53A0C8;
	border-radius:4px;
	border-color:#53A0C8;

	width: 185px;

	height: 41px;
}

input#btncadastrar{
	font-size: 21px;
font-family: arial;
font-weight: bold;
color: white;
background: #3A7EA8;
border-radius: 4px;
border-color: #FFFFFF;
width: 273px;
height: 41px;

}

.avaliacaomsg{
		 color: yellow;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Segoe UI';
	text-align: center;

}
div#estrelas{
	text-align: center;
	background-color: rgba(53, 45, 45, 0.8);
}

div#dados_profissional {
	color: white;
	font-size: 24px;
	font-family: arial;
	text-align: center;
	font-weight: bold;
	background-color: rgba(37, 39, 53, 0.8);
}

/* precisa login */
.precisalogin{
	color:white;
	font-family: 'Segoe UI';
	font-size: 17px;
}

input#txtemail {
    padding-right: 6px;
}

input#txtsenha {
    padding-right: 6px;
}
select#cbocategoria {
width: 478px;
}
input#txtcpf {
width: 193px;
}