body{
    font-family: verdana;
    font-size: 12px;
    background: #333;
    color:#fff;
    margin: 10px;
    padding: 0px;
}

input{
    
    background: #333;
    color:#fff;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    margin: 5px 0px;
    
    
}

#title_bar{
    
    background: #ccc;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    
}

#title_bar ul{
    
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#title_bar ul li{
    
    float: left;
    padding: 10px 0px;
    
}

#title_bar ul li a{
    
    background: #ccc;
    color:#333;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
   
    
}

#title_bar ul li a:hover{
    
    background: #333;
    color:#fff;
    
   
    
}

.box{
    
    background: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0px;
    text-decoration: none;
    
}

.container{
    
    background: #ccc;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0px;
    width: 50%;
    min-height: 500px;
}

.clear{
    clear: both;
    
}