/*CSS Document*/

*{
    margin:0;
    padding:0;
}

body{
    background:#ccc;
    font-family:verdana;
}

.container{
    margin:0 auto;
    width:70%;
}

.header{
    float:left;
    width:35%;
}
.nav{
    float:right;
    width:60%;
}

.content{
    width:100%;
    float:left;
    background:#fff;
    border-radius:10px;
    margin:10px 0 5px 0;
    padding: 40px;
}

.footer{
    width:100%;
    float:left;
    background: cornflowerblue;
    clear:both;
}

/*img*/
.nav img{
    float:right;
    background:white;
    border-radius:7px;
    border:1px solid #bbb;
    padding:10px;
    margin:10px 0 0 5px;
    height:40px;
}

.header img{
    border:0px;
}

.footer .mapadosite, .footer .empresa{
    float:left;
    text-align: left;
    font-family: verdana;	
    height:200px;	
    margin:10px 0 10px 20px;
}
.footer .mapadosite{
    border-right:1px solid steelblue;
    width:30%;
}

.footer .empresa{
    width:17%;
}

.footer .mapadosite h3{
    color:#fff;
}

.footer .mapadosite a{
    color:#fff;
    text-decoration: none;
    font-size:70%;
}
.footer .mapadosite a:hover{
    color:#ff0;
    font-size:80%;
}


