


/* CONTENT BOX */
.box{position:relative;display:block;width: 95%; background:#FFF;border:1px solid #CCC;margin:40px auto 65px;min-height:150px;}
.box:after{position:absolute;display:block;width:100%;height:10px;background:url(../img/head_shadow.png) no-repeat center top;content:" ";bottom:-10px;}
.box > .title{padding:20px;position:relative;margin:0 0 10px 0;background:url(../img/c_bg.png);color:#FFF;}
.box > .title a.button{float:right;}
.box > .inner-box{padding:10px 20px;}



/* messages */
.message{border: 1px solid #666;margin: 10px 5%;border-radius:4px;box-shadow:inset 0 1px 1px #FFF;position: relative;background-image: linear-gradient(to bottom,#999,#777);background-color: #CCC;text-shadow: 1px 1px 0px rgba(0,0,0,.5);}
.message .close{display: block;position: absolute;top: 0px;right: 5px;width: 10px;height: 10px;text-align: center;color: #CCC;font-weight: bold;}
.message .close:hover{color: #FFF;}
.message p{margin: 10px 30px 10px 10px;text-align: center;color: #FFF;font-size: 13px;}
.message p a{color: #FFF;text-decoration: underline;}
.message.warning{background-color: #eedc94;background-image: linear-gradient(to bottom,#fceec1, #eedc94);border-color: #e4c652;}
.message.warning *{color: #000;text-shadow: 1px 1px 0px #FFF;}
.message.info   {background-color: #eedc94;background-image: linear-gradient(to bottom,#5bc0de, #339bb9);border-color: #22697d;}
.message.info *{color: #FFF;}
.message.error  {background-color: #eedc94;background-image: linear-gradient(to bottom,#ee5f5b, #c43c35);border-color: #882a25;}
.message.error *{color: #FFF;}
.message.success{background-color: #eedc94;background-image: linear-gradient(to bottom,#62c462, #57a957);border-color: #3d773d;}
.message.success *{color: #FFF;}


/*   ICONS    */
.icon-white{display: inline-block;width: 14px;height: 14px;margin-top: 1px;line-height: 14px;vertical-align: text-top;background: url(../img/glyphicons-halflings.png) 14px 14px no-repeat;}
.icon-white{background-image: url(../img/glyphicons-halflings-white.png) !important;}

.icon-user{background-position:-168px 0}
.icon-question-sign{background-position:-96px -96px}



.popup{display: block;padding:7px 15px;background-color: #333;position: absolute;left:10%;top:-35px;width:auto;box-shadow: 0 2px 5px rgba(0,0,0,.5);z-index:99;}
.popup span{display: block;position: absolute;bottom:-20px;right:50%;margin-right:-10px;border:10px solid #333;border-bottom-color:transparent;border-right-color:transparent;border-left-color:transparent;}
.popup p{display: block;max-width: 150px;font-size:12px;color: #FFF;}

.form-1 h3{border-bottom:1px solid #CCC;margin:30px 0 0 0;padding:0 10px;}
.form-1 h3 small{float:right;color:#999;font-size:12px;margin-top:8px;}
.form-1 label{display:block;margin:10px 0 5px 5px;font-size:12px;}
.form-1 input[type=text]{width:40%;margin-left: 17px;}
.form-1 input[type=password]{width:40%;margin-left: 17px;}
.form-1 input[type=checkbox]{margin: -1px 0 0 0;vertical-align:middle;}
.form-1 input.medium{width: 50%; display: block}
.form-1 select{margin:0;padding:5px;}
.form-1 input.small{width: 25%; display: block}
.form-1 .field{width:90%;padding:5px 6% 5px 4%;display:block;position: relative;}
.form-1 .field select{width:100%;}
.form-1 .field textarea{display: block;width: 100%;}
.form-1 .first .field{border-right:1px solid #f0f0f0;}
.form-1 table.house-features .qtde{width:75%;}
.form-1 label > span:hover{cursor: pointer;text-decoration: underline;}

.loader-field{position: absolute;display: block; top:20px;right:20px;background:url(../img/min-loader.gif) no-repeat center center;width:24px;height:24px;}
.row.actions{padding:25px 0;}
.row.thin{width:90%;margin:0 auto;}
.search-form-list{padding:10px 5px 15px;border-bottom:1px solid #CCC;margin:0 5px 15px;}
.search-form-list label{font-size: 12px;}
.search-form-list button{margin: 0 0 0 10px;font-weight: bold;text-transform: uppercase;}

.form-2 h3{border-bottom:1px solid #CCC;margin:30px 0 0 0;padding:0 10px;}
.form-2 h3 small{float:right;color:#999;font-size:12px;margin-top:8px;}
.form-2 label{display:block;margin:10px 0 5px 5px;font-size:12px;}
.form-2 input[type=text]{width:40%;}
.form-2 input[type=email]{width:40%;}
.form-2 input[type=password]{width:40%;margin-left: 17px;}
.form-2 input[type=checkbox]{margin: -1px 0 0 0;vertical-align:middle;}
.form-2 input.medium{width: 50%; display: block}
.form-2 select{margin:0;padding:5px;}
.form-2 input.small{width: 25%; display: block}
.form-2 .field{width:90%;padding:5px 6% 5px 4%;display:block;position: relative;}
.form-2 .field select{width:100%;}
.form-2 .field textarea{display: block;width: 100%;}
.form-2 .first .field{border-right:1px solid #f0f0f0;}
.form-2 table.house-features .qtde{width:75%;}
.form-2 label > span:hover{cursor: pointer;text-decoration: underline;}






.logo-login{display: block;text-align: center;border-bottom:1px dotted #CCC;margin-bottom:5px}

#form{
	height: 290px;
	position: relative;
	display:block;
	margin: 0 auto;
	color: #fff;
}



.direita{
	float: right;
}

button.dark, .button.dark, .solid-button.dark {
    border-color: #333;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}
.button.large, button.large {padding: 11px 19px;font-size: 17.5px;border-radius: 6px;}
.button.mini, button.mini {padding: 1px 6px;font-size: 10.5px;border-radius: 3px;}

#buttonsenha{
	top:-3px;
	left:5px;
}


#form strong{
	color:#000;
}
#form span{
	color:#fff;
}

.logo-login img{
	width: auto;
	height: 60%;
}