*{
    margin: 0;
    padding: 0;
}

body{
    font: 80% verdana;
    background: #B7DDF9;
}

.nav{
    width: 98%;
    padding: 1%;
    background: #0066ff;
    float: left;
    text-align: center;
}

.nav ul{list-style: none;}

.nav ul li{
    display: inline;
    border-right: 0.1em solid white;
}

.nav ul li a {
    padding: 1% 2% 1% 1%;
    display: inline-block;
    color: white;
    text-decoration: none;    
}

.ultimo{
    border-right: 0;
}

.nav ul li a:hover {
    color: red;
}

.geral{
    margin: 0 auto;
    width: 80%;
}

section{
    background: white;
    padding: 2%;
    width: 96%;
    float: left;
}

header{
    width: 98%;
    padding: 1%;
    float: left;
    height: 100px;
}

.paginacao{
    float: left;
    width: 44%;
    padding: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    background: #ddd;
}

.nrpagina{
    float: left;
    padding: 1%;
    background: #ccc;
    margin-right: 0.1em;
    border-radius: 0.5em;
}

.paginacao a{
    text-decoration: none;
    color: red;
}

.nrpagina a{
    text-decoration: none;
    color: black;
}

.visualizar{
    width: 96%;
    padding: 2%;
    border: 0.1em solid #ccc;
    border-radius: 1em;
    background: #ddd;
    float: left;
}

.visualizar span{
    width: 50%;
    padding: 2%;
    float: left;
}

.imagem img{
    width: 5em;
    float: right;
    margin-left: 0.5em;
    margin-top: 0.5em;
}

.imagem{
    float: right;
    width: 40%;
}

.visualizar .func{
    float: left;
    width: 57%;
}

