*{margin:0; padding:0; border:0}

p,h1,h2,h3,h4{color:#077A10}

body{background:#80FF80;}

div#site{
    background:#80FF80;
    height: 500px;
    width: 750px;
    margin: auto;
    padding: 5px
}

div#topo{
    background:url(../imagem/degradepix.png) repeat-x #FFFFFF;
    height:60px;
    top:0;
    left:0}

div#conteudo{
    background:#d8f2c0;
    height:500px;width:750px;
    margin-top:5px;
    margin-bottom:5px;
    float:left;}

.conteudo{
    text-align:center;
    font-size:26px;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#333333;padding-top:5px}

div#rodape{
    background:#d8f2c0;
    height:30px;
    clear:both}

.format{
    text-align:center;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    color:#077A10;
    padding-top:5px;
}
.cabecalho_um{
    text-align:center;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    color:#077A10;
    padding-top:20px;
}

body{
    font: 80% verdana;
}

img{
    height:40px;
    width:60px;

}

.nav{
    width: 98%;
    padding: 1%;
    background: #0066ff;
    float: left;
    text-align: center;
}

.nav ul{list-style: none;}

.nav ul li{
    display: inline;
}

.nav ul li a {
    padding: 1% 2% 1% 1%;
    display: inline-block;
    color: white;
    text-decoration: none;
    border-right: 0.1em solid white;
}

.nav ul li a:hover {
    color: red;
}

input{
    padding: 1%;
}