body{
    background: darkkhaki;
    font-family: verdana;
    font-size: 12pt;
}

.caixa{
    float: left;
    background: aqua;
    width: 200px;
    height: 100px;
    margin: 20px;
    padding: 10px; 
    border: 1px dashed #ddd;
    box-shadow: #555 5px 5px 10px;
    -webkit-box-shadow: 5px 5px 10px #555;
    -moz-box-shadow: 5px 5px 10px #555;
    border-radius: 10px;
}
