@charset "UTF-8";

input[type="text"],input[type="number"],input[type="email"] {
    margin: 5px;
    padding: 5px;
    background: #eee;
    border: 1px #ccc solid;
}

input[type="submit"] {
    margin: 10px;
    padding: 5px;
    background: white;
    border-radius: 10px;
    border: 1px dashed #ccc;
}

#getEndereco {
    background: url('../imagem/icone/search.png') no-repeat center;
    width: 44px;
    height: 44px;
    padding: 10px;
    
}
