.barranav ul { list-style: none; margin-top: 8px; font-size: 12px; text-align: center;}
.barranav ul li { display: inline; margin: 10px; }
.barranav li a{ padding: 10px; text-decoration: none; color: #fff; }
.barranav li a:hover{ color: yellow; }