
input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: none;
}

input[type=submit] {
    background:red;
    padding:10px;
    width: 150px;
    color: white;
}

input[type=text],input[type=email] {
    width: 400px;
}

input[type=radio] {
    margin: 5px;
}

select{
    background:none;
    padding:10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;

}

