*{
    margin: 0;
    padding: 0;
}

body{
    font: 80% verdana;
}

.nav{
    width: 98%;
    padding: 1%;
    background: #0066ff;
    float: left;
    text-align: center;
}

.nav ul{list-style: none;}

.nav ul li{
    display: inline;
}

.nav ul li a {
    padding: 1% 2% 1% 1%;
    display: inline-block;
    color: white;
    text-decoration: none;
    border-right: 0.1em solid white;
}

.nav ul li a:hover {
    color: red;
}
