@charset "utf-8";
/* CSS Document */

/*FONTES*/
@font-face {
    font-family: 'UniversLightCondensedRegular';
    src: url('font/univers-webfont.eot');
    src: url('font/univers-webfont.eot?#iefix') format('embedded-opentype'),
         /*url('font/univers-webfont.woff') format('woff'),*/
         url('font/univers-webfont.ttf') format('truetype'),
         url('font/univers-webfont.svg#UniversLightCondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UniversRoman';
    src: url('font/univers-romam55-webfont.eot');
    src: url('font/univers-romam55-webfont.eot?#iefix') format('embedded-opentype'),
         /*url('font/univers-romam55-webfont.woff') format('woff'),*/
         url('font/univers-romam55-webfont.ttf') format('truetype'),
         url('font/univers-romam55-webfont.svg#UniversRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { 
 font-family:'UniversLightCondensedRegular', Arial, Verdana; 
 font-size: 16px; 
 margin: 0px; 
} 

#header { 
 background:#e1e1e1 url(images/bg_header2.png);
 height: 145x;
 color: #FFF; 
 width:100%;
} 
#top {  
 height: 125px;
 color: #FFF;
 padding: 10px; 
 width:1000px;
 margin:0 auto;
} 

#logo_top{
 width:160px;
 height:90px;
 -webkit-border-radius:20px;
 -moz-border-radius:20px;
 border-radius:20px;
 float:left;
 behavior: url(ie-css3.htc);
 text-align:center;
 color:yellow;
 padding-top:10px;
 }
 
.linha{
	background:#1C1C1C;
	width:1000px;
	height:1px;
	clear:both;
}

#titulo_top{
 width: 500px;
 height:30px;
 text-align:center;
 /* margin: 0 auto; caso queira centralizar a div no topo */
 float:right;
 margin-top:66px;
 text-align:right;

 }

#centro{
 width:1000px;
 height:auto;
 display:table; /*colocar na div que armazenar duas divs flutuantes para ela aumentar em relação ao conteúdo dentro dela */
 margin:2px auto;
 }
 
 #lateral{
	 float:left;
	 width:220px;
 }
 
 
 #utilitarios { 
 padding: 10px;
 margin-top:10px; 
 width: 200px; 
 background-color:#818181;
 height:auto;
 border-bottom:2px solid #CCCCCC;
 -moz-border-radius: 15px 15px / 15px 15px;
 border-radius: 15px 15px / 15px 15px;
} 

 
#parceiro { 
 padding: 10px;
 margin-top:10px; 
 width: 200px; 
 background-color:#CCC;
 height:auto;
 border-bottom:2px solid #CCCCCC;
 -moz-border-radius: 15px 15px / 15px 15px;
 border-radius: 15px 15px / 15px 15px;
} 

#parceiro p, #utilitarios p{color:#333;
			text-align:center;
			font-size: 18px;
}

#parceiro img, #utilitarios img{padding-top:10px;
}

#conteudo { 
 padding: 10px; 
 width: 750px;
 height: auto;
 float: right;
 background-color:#fff; 
 text-align:justify;
} 

#rodape { 
 background:#e1e1e1 url(images/bg_header2.png); 
 height: 120px; 
 clear:both; 
 text-align:center;
 font-size:12px;
 color: white;
 padding-top:10px;
 font-family: Arial, Verdana; 
 margin-top: 10px;
}
#rodape a{
    color: #fff;
    text-decoration: none;
}


#menu {
width : 150px;
margin : 0 0 10px 0;
background-color : #fff;
}

#menu ul {
margin-left : 0;
padding-left : 0;
list-style-type : none;
}

#menu a {
display : block;
padding : 3px;
width : 143px;
border-bottom : 1px solid #eee;
background-color : black;
color : #CCCCCC;
}

#menu a:link, #menulista a:visited {
color : #eee;
background-color:black;
text-decoration : none;
}

#menu a:hover {
background-color : #CCCCCC;
color : #000;
}

.theme-pascal.slider-wrapper {
    margin-top:10px;
}

.bloco_box {width:755px; 
            height:320px; 
			padding-bottom:10px; 
			background-color:#ABABAB; 
			border-radius:5px;}
			
.box_esq {width:354px; 
		  height:auto; 
		  padding-bottom:10px; 
		  background-color:#ABABAB; 
		  margin:0 5px 0 15px; 
		  border-radius:3px;
		  float:left}
		  
.tit_box_esq{width:344px; 
    height:15px; 
    background-color:#818181; 
    padding:5px 5px 5px 0;;  
    margin-top:10px; 
    color:#fff; 
    text-align:center;
    font-family:'UniversRoman', Arial, Verdana; 
    font-size:14px}
			 
.content_esq{width: 339px; 
    height:100px; 
    background-color:#fff; 
    padding: 5px;  
    margin-top:5px; 
    color:#000;
    font-family:'UniversRoman', Arial, Verdana; 
    font-size:12px}
a{
    color: #000;
    text-decoration: none;
}

a:hover{
    color: red;
    text-decoration: none;
}

.calendario{
    width: 120px;
    height: 90px;
    margin: 10px 10px 10px 10px;
    background: url("imagem/calendario.png") no-repeat ;
    float: left;
    text-align: center;
    font-family: verdana;
    font-size: 9px;

    padding: 25px 0px 10px 0px;
    
    
}