/*
    RESET
    ------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}


body {
    background: url(../img/bg.jpg) fixed center no-repeat;
    background-size: cover;    
    margin-bottom: 50px;
}

.wrap {
    margin: 0 auto;
    width: 1152px;
    padding-bottom: 25px;
}


/*
    HEADER
    ------------------------- */

header {
    background: rgba(0,0,0,0.5);
    float: left;
    width: 100%;
    height: 150px;
}

header .logo {
    float: left;
    margin-top: 17px;
}

header nav {
    float: right;
    margin-top: 65px;
}

header nav a {
    color: #fff;
    font: bold 15px "Arial";
    margin-right: 10px;
    text-decoration: none;
    padding-bottom: 5px;
}

header nav a:hover {
    border-bottom: 1px solid #fff;
}

.act {
    border-bottom: 1px solid #fff;
}


.all-content {
	/* [disabled]float: left; */
	margin-bottom: 80px;
	width: 100%;
}

.content {
    background: rgba(255,255,255,0.95);
    float: left;
    padding: 20px 30px;
    margin-top: 50px;
    width: 100%;
}

.content p {
    float: left;
    font: 15px/20px "Arial";
    margin-top: 10px;
}

.content h2 {
    color: #220b1c;
    float: left;
    font: bold 28px/50px "Arial";
    text-transform: uppercase;
    border-bottom: 2px solid #009c00;
    width: 100%;
}



.internal-content h3 {
    color: #220b1c;
    float: left;
    font: bold 22px/50px "Arial";
    text-transform: uppercase;
    margin-top: 20px;
    /*border-bottom: 2px solid #009c00;*/
    width: 100%;
}


.content img {
    float: left;
    margin: 15px 0 20px 18px;
}

.internal-content table {
    color: #220b1c;
    margin-top: 10px;
    float: left;
    width: 100%;
    text-align: center;
    font: 15px "Arial";
    border-spacing: 0;
}

.internal-content table tr td{
    border-bottom: 1px solid #220b1c;
    padding: 10px;
}

.internal-content .val-bold {
    font: bold 16px "Arial";
    border: 0;
}
