@charset "utf-8";
/* CSS Document */

body {
    background: url('../imagem/fundo.jpg') repeat-x #28163C;
    margin: 0px;
    font-family: verdana;

}

ol, ul {
    list-style: none;
}

/*
+----------------------------------------------------------------+
        Container															
+----------------------------------------------------------------+
*/
.container {margin:0 auto; text-align:left; width:940px; padding-bottom:10px}
/*
+----------------------------------------------------------------+
        Header															
+----------------------------------------------------------------+
*/
header {margin:10px 0 0px 20px; float: left; }

header h1 {
    width:200px; 
    font-size:2.5em; 
    padding:1em; 
    text-align:center; 
    float:right; 
    font-weight: bold
}

header a{
    color: #f00;
    text-decoration: none;
    font-size: 20pt;

}

/*
+----------------------------------------------------------------+
        NAV															
+----------------------------------------------------------------+
*/

nav  {float: right; margin: 17px -5px 0 0; }
nav ul{
    padding:0px;

    float: right;
    width: 100%;
    font:90% Verdana;
    line-height: 45px;
}

nav ul li{
    display: inline;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 4px 4px;
    float:left;
}

nav ul li a:hover {
    color: #999;
}


/*
+----------------------------------------------------------------+
        Content															
+----------------------------------------------------------------+
*/
.content {
    float:left; 
    margin:1px 0 5px 0; 
    padding:10px; 
    width:100%; 
    background-color:#fff; 
    border-radius:8px;
    border: 1px #2575AF solid;
    /*opacity:0.8;/*CSS 3*/
    /*-moz-opacity:0.8;/*FIREFOX*/
    /*filter:alpha(opacity=80);/*IE*/
}
article{padding-top:10px;}

/*
+----------------------------------------------------------------+
        Footer															
+----------------------------------------------------------------+
*/
footer {

    bottom:0;
    width:99.9%;
    clear:both; 
    padding:0em;  
    bottom:0;
}
.rodape{
    font-size:75%;
    color: #fff;
    height: 265px;
    background: #2A84C4;
    /*background: #ED1B23;
    /*background: #FECB28;*/
}


/* Início do Box do centro da página */
.clearfix:before, .clearfix:after {content:""; display:table}
.clearfix:after {clear:both}
.clearfix {zoom: 1}

body {font:normal 12px/20px Helvetica,Arial; }
body > p {text-align:center}
body > p a {color:#fff}
h1 {color:#fff; font:40px "Trebuchet MS",sans-serif; margin:20px 0; text-align:center; text-shadow:0 1px 0 rgba(0, 0, 0, 0.5)}
.boox do centro da x {width:670px; background-color:#9B9B9B; margin:0 auto; padding:5px; border-radius:3px; float:right}
.box > ul {margin:0; padding:0; list-style:none}
.box > ul li {margin:0 5px 0 0; border:1px solid #ccc; padding:5px 10px; background:#fff; float:left; border-radius:3px; cursor:pointer}
.box > ul li.active {background-color:#505667; color:#fff}
.box .content {margin:5px 0 0; background-color:#fff; border-radius: 3px; border:1px solid #ccc; padding:10px}
.box .content > div {display:none}
.box .content > div img {display:block; margin:10px auto}

.icones {float: right;}

/* Fim do Bpágina */

nav ul li img, .imagemformatada{
    height:45px;
    padding: 7px;
    border: 0;
    margin:0;

}
nav ul li img{
    float: right;
    background: #2A84C4;
    border-radius: 10px;
    border: 1px #2575AF solid;

}

.bannerindex{
    border: 0;
    border-radius: 7px;
    display: block; 
    margin: 0 auto 20px auto; 
}

/*JQUERY*/



/*JQUERY*/
