* html #principal{
height:100%;
}

body {
height:100%;
}

#principal {
min-height:100%;
height:auto;
margin:0px auto;
width:500px;
}

#principal{
	margin: 0 auto;
	width:1100px;
	height:600px;

}

#logo{
	float:left;
	background-color: transparent;
}

#link-voltar{
	float:right;
	background-color: transparent;
	font-size:10pt;
}

#avaliacoes td th{
	font-size:10pt;
}

#carregando {
	position: absolute; 
    top: 0; left: 0; 
    z-index: 10; 
	background:#ffc;
	padding:5px;
    border:1px solid #CCCCCC;
    text-align:center; 
    font-weight:bold; 
    width:99%;
}